## What is classification Assignment


### 1. Which of the following is a classification problem?
Developing a good intuition for which problems are classification problems is important. Of the scenarios listed below select the ones that you think are classification problems and justify your choice.

 1. Using labeled historic pricing data to predict if the price of gold will increase or decrease tomorrow.
 2. Using labeled pricing data to predict the price of gold tomorrow.
 3. Using unlabeled data to cluster job candidates into roles.
 4. Using labeled data to predict the number of sales of a new song.
 5. Training a drone to recognize a certain type of terrain from labeled data.
 
 *Answer: 1 and 5. Both cases have categorical target variables.*

In [0]:
import pandas as pd

data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/00468/online_shoppers_intention.csv')

### 2. Exploratory Data Analysis
Before building classification models you need to perform exploratory data analysis to understand the data that you have. Above some data have been loaded into a Pandas DataFrame named **data**. This data is from an online shopping site. It is a record of visitors to the website, various actions, and measurements of their behavior on the site and whether the visit ended in them purchasing something.

Use the pandas `head()`, `info()`, and `describe()` methods to explore the data.

1. What types are the attributes?
2. Is there any missing data?
3. Are any attributes continuous?
4. Which attribute is most likely the target variable?
5. How many predictor variables (or features) are there?
6. Which attributes will have to be pre-processed before being used as a feature?

In [0]:
data.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
Administrative             12330 non-null int64
Administrative_Duration    12330 non-null float64
Informational              12330 non-null int64
Informational_Duration     12330 non-null float64
ProductRelated             12330 non-null int64
ProductRelated_Duration    12330 non-null float64
BounceRates                12330 non-null float64
ExitRates                  12330 non-null float64
PageValues                 12330 non-null float64
SpecialDay                 12330 non-null float64
Month                      12330 non-null object
OperatingSystems           12330 non-null int64
Browser                    12330 non-null int64
Region                     12330 non-null int64
TrafficType                12330 non-null int64
VisitorType                12330 non-null object
Weekend                    12330 non-null bool
Revenue                    12330 non-null bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [0]:
data.describe()

       Administrative  Administrative_Duration  ...        Region   TrafficType
count    12330.000000             12330.000000  ...  12330.000000  12330.000000
mean         2.315166                80.818611  ...      3.147364      4.069586
std          3.321784               176.779107  ...      2.401591      4.025169
min          0.000000                 0.000000  ...      1.000000      1.000000
25%          0.000000                 0.000000  ...      1.000000      2.000000
50%          1.000000                 7.500000  ...      3.000000      2.000000
75%          4.000000                93.256250  ...      4.000000      4.000000
max         27.000000              3398.750000  ...      9.000000     20.000000

[8 rows x 14 columns]

In [0]:
data.nunique()

Administrative               27
Administrative_Duration    3335
Informational                17
Informational_Duration     1258
ProductRelated              311
ProductRelated_Duration    9551
BounceRates                1872
ExitRates                  4777
PageValues                 2704
SpecialDay                    6
Month                        10
OperatingSystems              8
Browser                      13
Region                        9
TrafficType                  20
VisitorType                   3
Weekend                       2
Revenue                       2
dtype: int64

What types are the attributes?

*There are 14 numerical attributes, two character strings and two booleans.*

Is there any missing data?

*No, .info() shows that each column contain the same number of values.*

Are any attributes continuous?

*The float attributes are continuous. Sometimes of the integer attributes can be considered continuous but looking at a count of unique values show that the integer attributes are categorical.*


Which attribute is most likely the target variable?

*Revenue.*

How many predictor variables (or features) are there?

*There are 17 predictor variables.*

Which attributes will have to be pre processed before being used as a feature?

*The non-numeric values. In this case month, visitor_type and weekend and the revenue attributes are non-numeric.*